* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Segoe UI,
    sans-serif;
}

.login-body {
  background: #f4f6f9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.system-title {
  text-align: center;
  color: #198754;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #1f2937;
  padding: 20px;
}

.sidebar h3 {
  color: white;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

.topbar {
  background: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.dashboard-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
